<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments-admin :: navigation"></nav>

<table class="table">

    <tr>
        <th>Edit</th>
        <th>Name</th>
    </tr>

    <tr th:each="rightRole : ${rightRoles}">
        <td><a th:href="'rightRole/edit/' + ${rightRole.id}" th:text="Edit"></a></td>
        <td th:text="${rightRole.name}"></td>
    </tr>

</table>

<a href="/rightRole/add">Add position |</a>
<a href="/rightRole/remove"> Remove position</a>
</body>
</html>